# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Environment
.env
.venv
env/

# VS Code
.vscode/settings.json.bak

# OS
.DS_Store
Thumbs.db

# pytest
.pytest_cache/
.coverage
htmlcov/